.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;

}

.login-page .wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}